* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: lightseagreen;

  border: solid;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1000px;
  height: 95vh;
  background-color: aliceblue;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#hangman {
  grid-column: 1 / span 4;
  grid-row: 2/ 7;
}

.display {
  grid-column: 6 / 12;
  grid-row: 5/ 7;
  font-size: 2rem;
  background-color: khaki;
}

.again {
  background-color: red;
  color: antiquewhite;
  grid-column: 10/12;
  grid-row: 1/2;
  margin-top: 5%;
}

.guess-text {
  grid-column: 7/9;
  grid-row: 4/5;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

.count-guess {
  grid-column: 9/10;
  grid-row: 4/5;
  text-align: center;
  font-size: 2rem;
  color: red;
}

.title {
  grid-column: 5 / 9;
  grid-row: 1 /2;
  font-size: 4rem;
}

#ground {
  display: none;
}

#body {
  display: none;
}

#legs {
  display: none;
}

#scaffold {
  display: none;
}

#head {
  display: none;
}

#arms {
  display: none;
}
